html,
body {
	height: 100%;
}

body {
	color: #666;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    margin: 0px;
}

a:link {
    color: #06C;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: #06C;
}

a:active {
    color: #06C;
    text-decoration: none;
}

a:hover {
    color: #039;
    text-decoration: underline;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.map-container {
	width: 100%;
	height: 100%;
}

.smooth_zoom_preloader {
    background-image: url(zoom_assets/preloader.gif);
}

.smooth_zoom_icons {
    background-image: url(zoom_assets/icons.png);
}


/*Controller Styles*/

#nav {
    background-color: #282C2D;
    padding: 30px;
}

.row {
	margin: 0 auto;
	max-width: 1000px;
}

.text {
    color: white;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.text h1 {
	color: #cceced;
	font-size: 16px;
    font-weight: 400;
}

.text p {
    font-size: 16px;
    font-weight: 300;
}

.control {
    margin: 0;
    padding: 0;
    text-align: center;
}

.control li {
	float: left;
	list-style-type: none;
	width: 50%;
}

.control a {
	display: block;
}

.control img {
    padding-top: 20px;
    width: 60%;
}

.control span {
	color: white;
    display: block;
    font-family: "Open Sans", sans-serif;
    padding: 10px 0;
}

@media all and (min-width: 400px) {
	.control li {
		width: 33.33333%;
	}
}

@media all and (min-width: 688px) {
	.control li {
		width: 16.66666%;
	}
}

@media all and (min-width: 880px) {
	.text {
		float: left;
		width: 190px;
	}
	
	.control {
		float: right;
	}
}
